@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.nav-link {
  @apply relative text-gray-700 hover:text-red-600 py-2 transition duration-300;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: red;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-link:hover::before {
  opacity: 1;
}
